<h1>New Comment</h1>

<%= render 'form', comment: @comment %>
<br>
<% if item_is(@comment)%>
<%= link_to 'Back', topic_path(@comment.commented_on_id) , class:"btn btn-outline-secondary"%>
<% else%>
<%= link_to 'Back', campaign_tab_path(@comment.commented_on_id), class:"btn btn-outline-secondary" %>
<%end%>