<h1>Editing Topic</h1>

<%= render 'form', topic: @topic %>
<br>
<%= link_to 'Show', user_campaign_tab_topic_path(current_user.id,@campaign, @topic) , class:"btn btn-outline-info" %> 
<%= link_to 'Back', user_campaign_tab_path(current_user.id,@topic.campaign_tab_id), class:"btn btn-outline-secondary" %>
