<br>
<h1 class="buttons" style="color:red">You already created topics against this campaign user</h1>
<br><br><br>
<div class="buttons"><%= link_to 'Back', campaign_tab_path(@id), class:"btn btn-outline-secondary " %></div>